.checkout {
    width: $lcontainer;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 75%;
    margin-bottom: 20px;
    h1 {
        margin-top: 10%;
    }
}

.checkout--details {
    display: flex;
    flex-direction: row;
}

.chekout--ShoppingCart__products {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.ShoppingCart--products__bodyDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    div {
        width: 25%;
        font-weight: bold;
    }
    &:hover {
        opacity: .5;
    }
}

.ShoppingCart--products__head {
    padding: 10px 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background: $gray;
}

.ShoppingCart--products__head--title {
    width: 25%;
    align-items: left;
    font-size: 0.8rem;
    font-weight: bold;
}

.ShoppingCart--products__body--img > img {
    margin-left: 10px;
    width: 80%;
}

.chekout--ShoppingCart__buy {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 35%;
    background: $gray;
    margin-left: 20px;
}

.ShoppingCart--products__body--quantity ul{
    display: flex;
    flex-direction: row;
    background: $gray;
    li {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
}

.red {
    color: $red;
    margin-left: 20px;
    margin-right: 10px;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.green {
    color: $green;
    margin-left: 10px;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.yellow {
    color: $yellow;
    margin-left: -10px;
}