.extrafooter--wrapper {
  display: flex;
  width: 100%;
  background-color: $gray;
  height: 250px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

  .extrafooter--part {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: rgba(60, 60, 60, 0.8);

    &:hover {
      background-color: $yellow;
      cursor: pointer;

      i {
        color: $gray;
        animation: font-size 0.5s;
        // font-size: $l-size;
        // -webkit-transition: font-size 0.5s;
      }
      .fa-truck {
        -webkit-animation: MoveLeftRight 2s infinite alternate;
        animation: MoveLeftRight 2s infinite alternate;
      }
      .fa-btc {
        -webkit-animation: spin 2s infinite alternate;
        animation: spin 2s infinite alternate;
      }
      .fa-gift {
        -webkit-animation: pulse 1s infinite alternate;
        animation: pulse 1s infinite alternate;
      }
      .fa-hand-holding-usd {
        -webkit-animation: MoveUpDown 1s infinite alternate;
        animation: MoveUpDown 1s infinite alternate;
      }

      h4 {
        color: $gray;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    i {
      font-size: $l-size;
      color: $yellow;
      text-align: center;
      // margin-bottom: 10%;
    }

    h4 {
      text-align: center;
      color: $yellow;
    }
  }
}

// Animations

@-webkit-keyframes MoveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes MoveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(30deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 481px) and (max-width: 850px) {
  .extrafooter--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: $gray;
    .extrafooter--part {
      width: 45%;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .extrafooter--wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .extrafooter--part {
      width: 100%;
      margin: 10px auto;
      height: 200px;
    }
  }
}
