.proFilter {
    display: flex;
    display: column;
    margin-left:5%;
    height: 130vh;
    cursor: pointer;
    color:$darkgray;
}

.container--product--container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
h4 {
    color:black;
    margin-left: 5%;
    margin-top: 10%;
}

.proFilter--details {
    display: flex;
    flex-direction: row;
    width: 100%;
    
   
}
.proFilter--sidebar {
    display: flex;
    flex-direction: column;
    background-color: $gray;
    width: 30%;
    font-size: 20px;
  
   
   
}
.menu--cate {
    
    margin-top:10%;
    &:hover{
        color:$yellow;
    }

}


.form-check {
    margin-top: 10%;
    label {
        color: #959595;
        font-weight: 400;
        cursor: pointer;
        &:hover {
            color: $yellow;
        }
    }
}
.proFilter--img {
    // margin-left: 4%;
    width: 100%;
    margin-top:10%;
   
}
.container--product--wrapper{
   width: 45%;

    .image img{
        width: 330px;
        height: 270px;
        // margin-left:2px;
           
    }
    &:hover {
        opacity: 0.4;
 
    }

}

.container--product {
  
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        height: auto;
}


.proFilter-color--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:40%;
    margin-left: 15%;
    

}

.proFilter-categories--menu, {
    margin-left: 15%;
    
}
.proFilter-material-menu {
    margin-top:10%;
    margin-left: 15%;
}

.proFilter-color--menu > div {
    
    width: 40px;
    margin-top: 20px;
    height: 40px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    &.color1 {
        background-color: red;
    }
    &.color2 {
         background-color: white
    }
    &.color3 {
        background-color: brown;
    }
    &.color4 {
        background-color:black;
    }
    &.color5 {
        background-color:seagreen;
    }
    &.color6{
        background-color: pink;
    }

}
.container--product--wrapper {
    font-size: $s-size;
    margin-bottom: -5%;
    
    .line {
        width: 110px;
        height: 3px;
        background-color: $yellow;

    }
    .proPrice {
        color: $yellow;
       
    }
}
.container--product--wrapper > div { 
    padding: 2px;
    

}


