.footer {
  position: relative;
  z-index: -999;
  background-color: #252525;
  padding: 80px 0;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer .left {
  width: 40%;
  color: #fff;
  align-items: center;
}

.footer .left .copy {
  color: #efefef;
  font-size: 12px;
}

.footer .right {
  width: 60%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer-nav {
  ul {
    display: flex;
    flex-direction: row;
    margin-left: 70px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      margin-left: 10px;
      padding: 10px;

      a {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        // font-weight: bold;
        &.footerHome {
          color: #fbb710;
        }
        &:hover {
          color: $yellow;
        }
      }
      &:hover {
        &:before {
          width: 5%;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 850px) {
 
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 850px;
  
  }

  .logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 0;
    }
  }

  .footer .left .copy {
    color: #efefef;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .left {
    width: 100%;
    color: #fff;
    align-items: center;
  }

  .footer .right {
    width: 100%;
    display: flex;
    justify-content: center;
   
  
  }

  }

@media only screen and (max-width: 480px) { 

  .footer {
    display: flex;
    flex-direction: column;
    max-width: 850px;
  
  }

  .logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 0;
    }
  }

  .footer .left .copy {
    color: #efefef;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .left {
    width: 100%;
    color: #fff;
    align-items: center;
  }

  .footer .right {
    width: 100%;
    display: flex;
    justify-content: center;
   
  
  }

}