a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.extra-footer {
  position: relative;
  z-index: 1;
  background-color: #3c3c3c;
  width: 100%;
  color: #fbb710;
  padding: 60px 0;
  float: left;
}

.right-side {
  float: left;
  width: 75%;
}

.ant-carousel,
.slick-slide {
  text-align: center;
  height: 360px;
  line-height: 360px;
  background: #d4d4d4;
  overflow: hidden;
  margin-bottom: 0;
}

.single-slide .image {
  float: left;
  width: 66.66666%;
  overflow: hidden;
}

.single-slide .image img {
  width: 100%;
  height: 400px;
}

.single-slide .info {
  float: left;
  width: 33.33333%;
}

/* HomePageProduct*/

// .gallery-container .first-grid,
// .gallery-container .second-grid,
// .gallery-container .third-grid {
//   width: 33.333%;
// }

.gallery-container .gallery-container .single-item .ProductImage {
  overflow: hidden;
}

.gallery-container .single-item .ProductImage img {
  width: 100%;
}

.gallery-container {
  width: 100%;
  margin-top: 0;
  height: 1200px;
  overflow: hidden;
  background: #d4d4d4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  > div {
    width: percentage(4/12);
    flex: 1 0 percentage(4/12);
    display: table;
    // height: auto;
  }

}

  .a0 {
    div {
      &:nth-child(1) {
        height: 600px;
          img {
              height: 600px;
    
      }
    }
      &:nth-child(2) {
        height: 300px;
          img {
              height: 300px;
      
      }
}
      &:nth-child(3) {
        height: 300px;
          img {
              height: 300px;

      }
    }
  }


}
.a1 {
  div {
    &:nth-child(1) {
      height: 300px;
        img {
            height: 300px;
  
    }
  }
    &:nth-child(2) {
      height: 600px;
        img {
            height: 600px;
    
    }
}
    &:nth-child(3) {
      height: 300px;
        img {
            height: 300px;

    }
  }
}


}
.a2 {
  div {
    &:nth-child(1) {
      height: 400px;
        img {
            height: 400px;
  
    }
  }
    &:nth-child(2) {
      height: 400px;
        img {
            height: 400px;
    
    }
}
    &:nth-child(3) {
      height: 400px;
        img {
            height: 400px;

    }
  }
}


}

.single-item {
  overflow: hidden;
  // width: 33.33%;
  // height: 1200px;
  width: 100%;
  position: relative;
  &:hover {
    cursor: pointer;
  }

  .ProductInfo {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 30px;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #fbb710;
      top: 0;
      left: 0;
    }

    h4 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      margin-top: 20px;
    }
  }
}
.gray-bg {
  .ProductImage {
  
      &:hover {
        background-color:black;
        cursor:pointer;
        background-color: rgb(255, 0, 0) ; 
    
}
}
}
 @media only screen and (min-width: 481px) and  (max-width: 850px) {
  .gallery-container {
 
    > div {
      width: percentage(6/12);
      flex: 1 0 percentage(6/12);
      display: table;
      // height: auto;
    }

}
 }
 @media only screen and (max-width: 480px) { 
  .gallery-container {
  display: flex;
  flex-direction: column;
  height: 1200px;
  overflow: hidden;
 
    > div {
      width:100%;
    

     
      // height: auto;
    }

}

.a0 {
  div {
    &:nth-child(1) {
      height: 200px;
        img {
            height: 200px;
  
    }
  }
    &:nth-child(2) {
      height: 200px;
        img {
            height: 200px;
    
    }
}
    &:nth-child(3) {
      height: 200px;
        img {
            height: 200px;

    }
  }
}


}
.a1 {
div {
  &:nth-child(1) {
    height: 200px;
      img {
          height: 200px;

  }
}
  &:nth-child(2) {
    height: 200px;
      img {
          height: 200px;
  
  }
}
  &:nth-child(3) {
    height: 200px;
      img {
          height: 200px;

  }
}
}


}
.a2 {
div {
  &:nth-child(1) {
    height: 200px;
      img {
          height: 200px;

  }
}
  &:nth-child(2) {
    height: 200px;
      img {
          height: 200px;
  
  }
}
  &:nth-child(3) {
    height: 200px;
      img {
          height: 200px;

  }
}
}


}
 }
