.card,
.text-white bg-warning mb-3 {
  z-index: -5;
}
.form-group {
  label {
    float: left;
  }
}
.review-heading {
  margin: 0;
  padding: 10px 0;
}

.not-show-review {
  h4 {
    margin: 0;
    padding: 20px;
  }
}
