.sidebar {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  float: left;
  width: 25%;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-nav {
  margin-top: 100px;
    nav {
      display: flex;
      flex-direction: column;
      margin-left: 70px;
      div {
        margin-bottom: 30px;
        a {
          margin-top: 20px;
          font-size: 1rem;
          text-transform: uppercase;
          color: $black;
          font-weight: bold;
          &:hover {
            color: $yellow;
          }
        }
      }
  }
}

.sidebar-btn-group {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  button {
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    &:hover {
      background: $black;
      transition: 1s;
      sup {
        color: #fff;
      }
    }
  }
}

.menu__logout {
  background: $red;
  border: 0;
  border-bottom: 5px solid lighten($red, 10%);
  color: #fff;
}

.menu__orders,
.menu__profile,
.menu__login,
.menu__cart {
  background: $yellow;
  border: 0;
  border-bottom: 5px solid lighten($yellow, 10%);
  color: #fff;
  sup {
    color: $black;
  }
}

.menu__hi,
.menu__register {
  background: $black;
  border: 0;
  border-bottom: 5px solid lighten($black, 10%);
  color: #fff;
}

.icons-list {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 70px;
}

.social {
  padding: 10px;
  font-size: 1.5rem;
  &:hover {
    color: $yellow;
    transition: 1s;
    cursor: pointer;
  }
}

.logo {
  margin-top: 70px;
  img {
    margin-left: 70px;
  }
}

.table--order {
  thead {
    background: $yellow;
  }
}

.profile--modal {
  background: $yellow;
}