body {
  background: #ffffff;
  font-family: "Indie Flower", cursive;
}

.admin {
  font-family: 'Staatliches', cursive;
}

button,
.fa-pen-square,
.fa-credit-card {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background: $darkgray;
  &:hover {
    background: $darkgray;
  }
}

.modalheader {
  background: $yellow;
  color: #fff;
  font-weight: bold;
}
.back-to-top {
  z-index: 999;
}
