$green: #28a745;
$red: #dc3545;
$yellow: #fbb710;
$black: #131212;
$gray: #f5f7fa;
$midgray: #c1c1c1;
$darkgray: #3c3c3c;
$l-grey: rgb(141, 142, 126);

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$mm-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$time: 9s;
$c-width: 36vmin;
$c-height: 90vmin;

//container
$lcontainer: 75%;
