.table img {
    width: 50px;
    height: 50px;
}

form {
    margin: 50px;
    font-weight: bold;
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

#btn--reset {
    margin-left: 30px;
    width: 100px;
}

.input-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fa-edit {
    margin-left: 10%;
    font-size: 25px;
    color: $green;
    cursor: pointer;
}

.fa-trash-alt {
    margin-left: 10%;
    font-size: 25px;
    color: $red;
    cursor: pointer;
}

.user--cart {
    color: $yellow;
    font-size: 1.5rem;
    margin-left: 10%;
    cursor: pointer;
}

.user--orders {
    color: $red;
    font-size: 1.5rem;
    margin-left: 10%;
    cursor: pointer;
}

.table--order {
    font-size: 0.8rem;
    font-weight: bold;
    th {
        color: $black;
    }
    td {
        color: $darkgray;
    }
}

.editUser__input {
    margin-top: 10px;
    margin-left: 10px;
}
